align-content()
  -webkit-align-content: @arguments
  align-content: @arguments


align-items()
  -webkit-align-items: @arguments
  align-items: @arguments


align-self()
  -webkit-align-self: @arguments
  align-self: @arguments


animation()
  -webkit-animation: @arguments
  animation: @arguments


animation-delay()
  -webkit-animation-delay: @arguments
  animation-delay: @arguments


animation-direction()
  -webkit-animation-direction: @arguments
  animation-direction: @arguments


animation-duration()
  -webkit-animation-duration: @arguments
  animation-duration: @arguments


animation-fill-mode()
  -webkit-animation-fill-mode: @arguments
  animation-fill-mode: @arguments


animation-iteration-count()
  -webkit-animation-iteration-count: @arguments
  animation-iteration-count: @arguments


animation-name()
  -webkit-animation-name: @arguments
  animation-name: @arguments


animation-play-state()
  -webkit-animation-play-state: @arguments
  animation-play-state: @arguments


animation-timing-function()
  -webkit-animation-timing-function: @arguments
  animation-timing-function: @arguments


app-region()
  -webkit-app-region: @arguments
  app-region: @arguments


appearance()
  -webkit-appearance: @arguments
  -moz-appearance: @arguments
  appearance: @arguments


aspect-ratio()
  -webkit-aspect-ratio: @arguments
  aspect-ratio: @arguments


backface-visibility()
  -webkit-backface-visibility: @arguments
  backface-visibility: @arguments


background-blend-mode()
  -webkit-background-blend-mode: @arguments
  background-blend-mode: @arguments


background-clip()
  -webkit-background-clip: @arguments
  background-clip: @arguments


background-composite()
  -webkit-background-composite: @arguments
  background-composite: @arguments


background-origin()
  -webkit-background-origin: @arguments
  background-origin: @arguments


background-size()
  -webkit-background-size: @arguments
  background-size: @arguments


blend-mode()
  -webkit-blend-mode: @arguments
  blend-mode: @arguments


border-after()
  -webkit-border-after: @arguments
  border-after: @arguments


border-after-color()
  -webkit-border-after-color: @arguments
  border-after-color: @arguments


border-after-style()
  -webkit-border-after-style: @arguments
  border-after-style: @arguments


border-after-width()
  -webkit-border-after-width: @arguments
  border-after-width: @arguments


border-before()
  -webkit-border-before: @arguments
  border-before: @arguments


border-before-color()
  -webkit-border-before-color: @arguments
  border-before-color: @arguments


border-before-style()
  -webkit-border-before-style: @arguments
  border-before-style: @arguments


border-before-width()
  -webkit-border-before-width: @arguments
  border-before-width: @arguments


border-bottom-left-radius()
  -webkit-border-bottom-left-radius: @arguments
  border-bottom-left-radius: @arguments


border-bottom-right-radius()
  -webkit-border-bottom-right-radius: @arguments
  border-bottom-right-radius: @arguments


border-end()
  -webkit-border-end: @arguments
  -moz-border-end: @arguments
  border-end: @arguments


border-end-color()
  -webkit-border-end-color: @arguments
  -moz-border-end-color: @arguments
  border-end-color: @arguments


border-end-style()
  -webkit-border-end-style: @arguments
  -moz-border-end-style: @arguments
  border-end-style: @arguments


border-end-width()
  -webkit-border-end-width: @arguments
  -moz-border-end-width: @arguments
  border-end-width: @arguments


border-fit()
  -webkit-border-fit: @arguments
  border-fit: @arguments


border-horizontal-spacing()
  -webkit-border-horizontal-spacing: @arguments
  border-horizontal-spacing: @arguments


border-image()
  -webkit-border-image: @arguments
  -o-border-image: @arguments
  border-image: @arguments


border-radius()
  -webkit-border-radius: @arguments
  border-radius: @arguments


border-start()
  -webkit-border-start: @arguments
  -moz-border-start: @arguments
  border-start: @arguments


border-start-color()
  -webkit-border-start-color: @arguments
  -moz-border-start-color: @arguments
  border-start-color: @arguments


border-start-style()
  -webkit-border-start-style: @arguments
  -moz-border-start-style: @arguments
  border-start-style: @arguments


border-start-width()
  -webkit-border-start-width: @arguments
  -moz-border-start-width: @arguments
  border-start-width: @arguments


border-top-left-radius()
  -webkit-border-top-left-radius: @arguments
  border-top-left-radius: @arguments


border-top-right-radius()
  -webkit-border-top-right-radius: @arguments
  border-top-right-radius: @arguments


border-vertical-spacing()
  -webkit-border-vertical-spacing: @arguments
  border-vertical-spacing: @arguments


box-align()
  -webkit-box-align: @arguments
  -moz-box-align: @arguments
  box-align: @arguments


box-decoration-break()
  -webkit-box-decoration-break: @arguments
  box-decoration-break: @arguments


box-direction()
  -webkit-box-direction: @arguments
  -moz-box-direction: @arguments
  box-direction: @arguments


box-flex()
  -webkit-box-flex: @arguments
  -moz-box-flex: @arguments
  box-flex: @arguments


box-flex-group()
  -webkit-box-flex-group: @arguments
  box-flex-group: @arguments


box-lines()
  -webkit-box-lines: @arguments
  box-lines: @arguments


box-ordinal-group()
  -webkit-box-ordinal-group: @arguments
  -moz-box-ordinal-group: @arguments
  box-ordinal-group: @arguments


box-orient()
  -webkit-box-orient: @arguments
  -moz-box-orient: @arguments
  box-orient: @arguments


box-pack()
  -webkit-box-pack: @arguments
  -moz-box-pack: @arguments
  box-pack: @arguments


box-reflect()
  -webkit-box-reflect: @arguments
  box-reflect: @arguments


box-shadow()
  -webkit-box-shadow: @arguments
  box-shadow: @arguments


box-sizing()
  -webkit-box-sizing: @arguments
  -moz-box-sizing: @arguments
  box-sizing: @arguments


clip-path()
  -webkit-clip-path: @arguments
  clip-path: @arguments


color-correction()
  -webkit-color-correction: @arguments
  color-correction: @arguments


column-axis()
  -webkit-column-axis: @arguments
  column-axis: @arguments


column-break-after()
  -webkit-column-break-after: @arguments
  column-break-after: @arguments


column-break-before()
  -webkit-column-break-before: @arguments
  column-break-before: @arguments


column-break-inside()
  -webkit-column-break-inside: @arguments
  column-break-inside: @arguments


column-count()
  -webkit-column-count: @arguments
  -moz-column-count: @arguments
  column-count: @arguments


column-gap()
  -webkit-column-gap: @arguments
  -moz-column-gap: @arguments
  column-gap: @arguments


column-progression()
  -webkit-column-progression: @arguments
  column-progression: @arguments


column-rule()
  -webkit-column-rule: @arguments
  -moz-column-rule: @arguments
  column-rule: @arguments


column-rule-color()
  -webkit-column-rule-color: @arguments
  -moz-column-rule-color: @arguments
  column-rule-color: @arguments


column-rule-style()
  -webkit-column-rule-style: @arguments
  -moz-column-rule-style: @arguments
  column-rule-style: @arguments


column-rule-width()
  -webkit-column-rule-width: @arguments
  -moz-column-rule-width: @arguments
  column-rule-width: @arguments


column-span()
  -webkit-column-span: @arguments
  column-span: @arguments


column-width()
  -webkit-column-width: @arguments
  -moz-column-width: @arguments
  column-width: @arguments


columns()
  -webkit-columns: @arguments
  -moz-columns: @arguments
  columns: @arguments


cursor-visibility()
  -webkit-cursor-visibility: @arguments
  cursor-visibility: @arguments


dashboard-region()
  -webkit-dashboard-region: @arguments
  dashboard-region: @arguments


filter()
  -webkit-filter: @arguments
  -ms-filter: @arguments
  filter: @arguments


flex()
  -webkit-flex: @arguments
  -ms-flex: @arguments
  flex: @arguments


flex-basis()
  -webkit-flex-basis: @arguments
  flex-basis: @arguments


flex-direction()
  -webkit-flex-direction: @arguments
  -ms-flex-direction: @arguments
  flex-direction: @arguments


flex-flow()
  -webkit-flex-flow: @arguments
  flex-flow: @arguments


flex-grow()
  -webkit-flex-grow: @arguments
  flex-grow: @arguments


flex-shrink()
  -webkit-flex-shrink: @arguments
  flex-shrink: @arguments


flex-wrap()
  -webkit-flex-wrap: @arguments
  -ms-flex-wrap: @arguments
  flex-wrap: @arguments


flow-from()
  -webkit-flow-from: @arguments
  -ms-flow-from: @arguments
  flow-from: @arguments


flow-into()
  -webkit-flow-into: @arguments
  -ms-flow-into: @arguments
  flow-into: @arguments


font-feature-settings()
  -webkit-font-feature-settings: @arguments
  -moz-font-feature-settings: @arguments
  font-feature-settings: @arguments


font-kerning()
  -webkit-font-kerning: @arguments
  font-kerning: @arguments


font-size-delta()
  -webkit-font-size-delta: @arguments
  font-size-delta: @arguments


font-smoothing()
  -webkit-font-smoothing: @arguments
  font-smoothing: @arguments


font-variant-ligatures()
  -webkit-font-variant-ligatures: @arguments
  font-variant-ligatures: @arguments


grid-after()
  -webkit-grid-after: @arguments
  grid-after: @arguments


grid-auto-columns()
  -webkit-grid-auto-columns: @arguments
  grid-auto-columns: @arguments


grid-auto-flow()
  -webkit-grid-auto-flow: @arguments
  grid-auto-flow: @arguments


grid-auto-rows()
  -webkit-grid-auto-rows: @arguments
  grid-auto-rows: @arguments


grid-before()
  -webkit-grid-before: @arguments
  grid-before: @arguments


grid-column()
  -webkit-grid-column: @arguments
  -ms-grid-column: @arguments
  grid-column: @arguments


grid-definition-columns()
  -webkit-grid-definition-columns: @arguments
  grid-definition-columns: @arguments


grid-definition-rows()
  -webkit-grid-definition-rows: @arguments
  grid-definition-rows: @arguments


grid-end()
  -webkit-grid-end: @arguments
  grid-end: @arguments


grid-row()
  -webkit-grid-row: @arguments
  -ms-grid-row: @arguments
  grid-row: @arguments


grid-start()
  -webkit-grid-start: @arguments
  grid-start: @arguments


highlight()
  -webkit-highlight: @arguments
  highlight: @arguments


hyphenate-character()
  -webkit-hyphenate-character: @arguments
  hyphenate-character: @arguments


hyphenate-limit-after()
  -webkit-hyphenate-limit-after: @arguments
  hyphenate-limit-after: @arguments


hyphenate-limit-before()
  -webkit-hyphenate-limit-before: @arguments
  hyphenate-limit-before: @arguments


hyphenate-limit-lines()
  -webkit-hyphenate-limit-lines: @arguments
  -ms-hyphenate-limit-lines: @arguments
  hyphenate-limit-lines: @arguments


justify-content()
  -webkit-justify-content: @arguments
  justify-content: @arguments


line-align()
  -webkit-line-align: @arguments
  line-align: @arguments


line-box-contain()
  -webkit-line-box-contain: @arguments
  line-box-contain: @arguments


line-break()
  -webkit-line-break: @arguments
  line-break: @arguments


line-clamp()
  -webkit-line-clamp: @arguments
  line-clamp: @arguments


line-grid()
  -webkit-line-grid: @arguments
  line-grid: @arguments


line-snap()
  -webkit-line-snap: @arguments
  line-snap: @arguments


locale()
  -webkit-locale: @arguments
  locale: @arguments


logical-height()
  -webkit-logical-height: @arguments
  logical-height: @arguments


logical-width()
  -webkit-logical-width: @arguments
  logical-width: @arguments


margin-after()
  -webkit-margin-after: @arguments
  margin-after: @arguments


margin-after-collapse()
  -webkit-margin-after-collapse: @arguments
  margin-after-collapse: @arguments


margin-before()
  -webkit-margin-before: @arguments
  margin-before: @arguments


margin-before-collapse()
  -webkit-margin-before-collapse: @arguments
  margin-before-collapse: @arguments


margin-bottom-collapse()
  -webkit-margin-bottom-collapse: @arguments
  margin-bottom-collapse: @arguments


margin-collapse()
  -webkit-margin-collapse: @arguments
  margin-collapse: @arguments


margin-end()
  -webkit-margin-end: @arguments
  -moz-margin-end: @arguments
  margin-end: @arguments


margin-start()
  -webkit-margin-start: @arguments
  -moz-margin-start: @arguments
  margin-start: @arguments


margin-top-collapse()
  -webkit-margin-top-collapse: @arguments
  margin-top-collapse: @arguments


marquee()
  -webkit-marquee: @arguments
  marquee: @arguments


marquee-direction()
  -webkit-marquee-direction: @arguments
  marquee-direction: @arguments


marquee-increment()
  -webkit-marquee-increment: @arguments
  marquee-increment: @arguments


marquee-repetition()
  -webkit-marquee-repetition: @arguments
  marquee-repetition: @arguments


marquee-speed()
  -webkit-marquee-speed: @arguments
  marquee-speed: @arguments


marquee-style()
  -webkit-marquee-style: @arguments
  marquee-style: @arguments


mask()
  -webkit-mask: @arguments
  mask: @arguments


mask-box-image()
  -webkit-mask-box-image: @arguments
  mask-box-image: @arguments


mask-box-image-outset()
  -webkit-mask-box-image-outset: @arguments
  mask-box-image-outset: @arguments


mask-box-image-repeat()
  -webkit-mask-box-image-repeat: @arguments
  mask-box-image-repeat: @arguments


mask-box-image-slice()
  -webkit-mask-box-image-slice: @arguments
  mask-box-image-slice: @arguments


mask-box-image-source()
  -webkit-mask-box-image-source: @arguments
  mask-box-image-source: @arguments


mask-box-image-width()
  -webkit-mask-box-image-width: @arguments
  mask-box-image-width: @arguments


mask-clip()
  -webkit-mask-clip: @arguments
  mask-clip: @arguments


mask-composite()
  -webkit-mask-composite: @arguments
  mask-composite: @arguments


mask-image()
  -webkit-mask-image: @arguments
  mask-image: @arguments


mask-origin()
  -webkit-mask-origin: @arguments
  mask-origin: @arguments


mask-position()
  -webkit-mask-position: @arguments
  mask-position: @arguments


mask-position-x()
  -webkit-mask-position-x: @arguments
  mask-position-x: @arguments


mask-position-y()
  -webkit-mask-position-y: @arguments
  mask-position-y: @arguments


mask-repeat()
  -webkit-mask-repeat: @arguments
  mask-repeat: @arguments


mask-repeat-x()
  -webkit-mask-repeat-x: @arguments
  mask-repeat-x: @arguments


mask-repeat-y()
  -webkit-mask-repeat-y: @arguments
  mask-repeat-y: @arguments


mask-size()
  -webkit-mask-size: @arguments
  mask-size: @arguments


max-logical-height()
  -webkit-max-logical-height: @arguments
  max-logical-height: @arguments


max-logical-width()
  -webkit-max-logical-width: @arguments
  max-logical-width: @arguments


min-logical-height()
  -webkit-min-logical-height: @arguments
  min-logical-height: @arguments


min-logical-width()
  -webkit-min-logical-width: @arguments
  min-logical-width: @arguments


nbsp-mode()
  -webkit-nbsp-mode: @arguments
  nbsp-mode: @arguments


opacity()
  -webkit-opacity: @arguments
  opacity: @arguments


order()
  -webkit-order: @arguments
  order: @arguments


overflow-scrolling()
  -webkit-overflow-scrolling: @arguments
  overflow-scrolling: @arguments


padding-after()
  -webkit-padding-after: @arguments
  padding-after: @arguments


padding-before()
  -webkit-padding-before: @arguments
  padding-before: @arguments


padding-end()
  -webkit-padding-end: @arguments
  -moz-padding-end: @arguments
  padding-end: @arguments


padding-start()
  -webkit-padding-start: @arguments
  -moz-padding-start: @arguments
  padding-start: @arguments


perspective()
  -webkit-perspective: @arguments
  perspective: @arguments


perspective-origin()
  -webkit-perspective-origin: @arguments
  perspective-origin: @arguments


perspective-origin-x()
  -webkit-perspective-origin-x: @arguments
  perspective-origin-x: @arguments


perspective-origin-y()
  -webkit-perspective-origin-y: @arguments
  perspective-origin-y: @arguments


print-color-adjust()
  -webkit-print-color-adjust: @arguments
  print-color-adjust: @arguments


region-break-after()
  -webkit-region-break-after: @arguments
  region-break-after: @arguments


region-break-before()
  -webkit-region-break-before: @arguments
  region-break-before: @arguments


region-break-inside()
  -webkit-region-break-inside: @arguments
  region-break-inside: @arguments


region-fragment()
  -webkit-region-fragment: @arguments
  region-fragment: @arguments


rtl-ordering()
  -webkit-rtl-ordering: @arguments
  rtl-ordering: @arguments


ruby-position()
  -webkit-ruby-position: @arguments
  ruby-position: @arguments


shape-inside()
  -webkit-shape-inside: @arguments
  shape-inside: @arguments


shape-margin()
  -webkit-shape-margin: @arguments
  shape-margin: @arguments


shape-outside()
  -webkit-shape-outside: @arguments
  shape-outside: @arguments


shape-padding()
  -webkit-shape-padding: @arguments
  shape-padding: @arguments


svg-shadow()
  -webkit-svg-shadow: @arguments
  svg-shadow: @arguments


tap-highlight-color()
  -webkit-tap-highlight-color: @arguments
  tap-highlight-color: @arguments


text-align-last()
  -webkit-text-align-last: @arguments
  -moz-text-align-last: @arguments
  -ms-text-align-last: @arguments
  text-align-last: @arguments


text-decoration-color()
  -webkit-text-decoration-color: @arguments
  -moz-text-decoration-color: @arguments
  text-decoration-color: @arguments


text-decoration-line()
  -webkit-text-decoration-line: @arguments
  -moz-text-decoration-line: @arguments
  text-decoration-line: @arguments


text-decoration-style()
  -webkit-text-decoration-style: @arguments
  -moz-text-decoration-style: @arguments
  text-decoration-style: @arguments


text-decorations-in-effect()
  -webkit-text-decorations-in-effect: @arguments
  text-decorations-in-effect: @arguments


text-emphasis-position()
  -webkit-text-emphasis-position: @arguments
  text-emphasis-position: @arguments


text-fill-color()
  -webkit-text-fill-color: @arguments
  text-fill-color: @arguments


text-justify()
  -webkit-text-justify: @arguments
  -ms-text-justify: @arguments
  text-justify: @arguments


text-security()
  -webkit-text-security: @arguments
  text-security: @arguments


text-stroke()
  -webkit-text-stroke: @arguments
  text-stroke: @arguments


text-stroke-color()
  -webkit-text-stroke-color: @arguments
  text-stroke-color: @arguments


text-stroke-width()
  -webkit-text-stroke-width: @arguments
  text-stroke-width: @arguments


text-underline-position()
  -webkit-text-underline-position: @arguments
  -ms-text-underline-position: @arguments
  text-underline-position: @arguments


touch-callout()
  -webkit-touch-callout: @arguments
  touch-callout: @arguments


transform()
  -webkit-transform: @arguments
  -o-transform: @arguments
  -moz-transform: @arguments
  transform: @arguments


transform-origin()
  -webkit-transform-origin: @arguments
  -o-transform-origin: @arguments
  transform-origin: @arguments


transform-origin-x()
  -webkit-transform-origin-x: @arguments
  transform-origin-x: @arguments


transform-origin-y()
  -webkit-transform-origin-y: @arguments
  transform-origin-y: @arguments


transform-origin-z()
  -webkit-transform-origin-z: @arguments
  transform-origin-z: @arguments


transform-style()
  -webkit-transform-style: @arguments
  transform-style: @arguments


transition()
  -webkit-transition: @arguments
  -o-transition: @arguments
  transition: @arguments


transition-delay()
  -webkit-transition-delay: @arguments
  -o-transition-delay: @arguments
  transition-delay: @arguments


transition-duration()
  -webkit-transition-duration: @arguments
  -o-transition-duration: @arguments
  transition-duration: @arguments


transition-property()
  -webkit-transition-property: @arguments
  -o-transition-property: @arguments
  transition-property: @arguments


transition-timing-function()
  -webkit-transition-timing-function: @arguments
  -o-transition-timing-function: @arguments
  transition-timing-function: @arguments


user-drag()
  -webkit-user-drag: @arguments
  user-drag: @arguments


user-modify()
  -webkit-user-modify: @arguments
  -moz-user-modify: @arguments
  user-modify: @arguments


user-select()
  -webkit-user-select: @arguments
  -moz-user-select: @arguments
  -ms-user-select: @arguments
  user-select: @arguments


wrap-flow()
  -webkit-wrap-flow: @arguments
  -ms-wrap-flow: @arguments
  wrap-flow: @arguments


wrap-through()
  -webkit-wrap-through: @arguments
  -ms-wrap-through: @arguments
  wrap-through: @arguments


device-pixel-ratio()
  -o-device-pixel-ratio: @arguments
  device-pixel-ratio: @arguments


focus-opacity()
  -o-focus-opacity: @arguments
  focus-opacity: @arguments


link()
  -o-link: @arguments
  link: @arguments


link-source()
  -o-link-source: @arguments
  link-source: @arguments


mini-fold()
  -o-mini-fold: @arguments
  mini-fold: @arguments


object-fit()
  -o-object-fit: @arguments
  object-fit: @arguments


object-position()
  -o-object-position: @arguments
  object-position: @arguments


tab-size()
  -o-tab-size: @arguments
  -moz-tab-size: @arguments
  tab-size: @arguments


table-baseline()
  -o-table-baseline: @arguments
  table-baseline: @arguments


background-inline-policy()
  -moz-background-inline-policy: @arguments
  background-inline-policy: @arguments


binding()
  -moz-binding: @arguments
  binding: @arguments


border-bottom-colors()
  -moz-border-bottom-colors: @arguments
  border-bottom-colors: @arguments


border-left-colors()
  -moz-border-left-colors: @arguments
  border-left-colors: @arguments


border-right-colors()
  -moz-border-right-colors: @arguments
  border-right-colors: @arguments


border-top-colors()
  -moz-border-top-colors: @arguments
  border-top-colors: @arguments


column-fill()
  -moz-column-fill: @arguments
  column-fill: @arguments


float-edge()
  -moz-float-edge: @arguments
  float-edge: @arguments


font-language-override()
  -moz-font-language-override: @arguments
  font-language-override: @arguments


force-broken-image-icon()
  -moz-force-broken-image-icon: @arguments
  force-broken-image-icon: @arguments


hyphens()
  -moz-hyphens: @arguments
  -ms-hyphens: @arguments
  hyphens: @arguments


image-region()
  -moz-image-region: @arguments
  image-region: @arguments


orient()
  -moz-orient: @arguments
  orient: @arguments


outline-radius()
  -moz-outline-radius: @arguments
  outline-radius: @arguments


outline-radius-bottomleft()
  -moz-outline-radius-bottomleft: @arguments
  outline-radius-bottomleft: @arguments


outline-radius-bottomright()
  -moz-outline-radius-bottomright: @arguments
  outline-radius-bottomright: @arguments


outline-radius-topleft()
  -moz-outline-radius-topleft: @arguments
  outline-radius-topleft: @arguments


outline-radius-topright()
  -moz-outline-radius-topright: @arguments
  outline-radius-topright: @arguments


script-level()
  -moz-script-level: @arguments
  script-level: @arguments


script-min-size()
  -moz-script-min-size: @arguments
  script-min-size: @arguments


script-size-multiplier()
  -moz-script-size-multiplier: @arguments
  script-size-multiplier: @arguments


stack-sizing()
  -moz-stack-sizing: @arguments
  stack-sizing: @arguments


text-blink()
  -moz-text-blink: @arguments
  text-blink: @arguments


text-size-adjust()
  -moz-text-size-adjust: @arguments
  text-size-adjust: @arguments


user-focus()
  -moz-user-focus: @arguments
  user-focus: @arguments


user-input()
  -moz-user-input: @arguments
  user-input: @arguments


window-shadow()
  -moz-window-shadow: @arguments
  window-shadow: @arguments


accelerator()
  -ms-accelerator: @arguments
  accelerator: @arguments


background-position-x()
  -ms-background-position-x: @arguments
  background-position-x: @arguments


background-position-y()
  -ms-background-position-y: @arguments
  background-position-y: @arguments


behavior()
  -ms-behavior: @arguments
  behavior: @arguments


block-progression()
  -ms-block-progression: @arguments
  block-progression: @arguments


content-zoom-chaining()
  -ms-content-zoom-chaining: @arguments
  content-zoom-chaining: @arguments


content-zoom-limit()
  -ms-content-zoom-limit: @arguments
  content-zoom-limit: @arguments


content-zoom-limit-max()
  -ms-content-zoom-limit-max: @arguments
  content-zoom-limit-max: @arguments


content-zoom-limit-min()
  -ms-content-zoom-limit-min: @arguments
  content-zoom-limit-min: @arguments


content-zoom-snap()
  -ms-content-zoom-snap: @arguments
  content-zoom-snap: @arguments


content-zoom-snap-points()
  -ms-content-zoom-snap-points: @arguments
  content-zoom-snap-points: @arguments


content-zoom-snap-type()
  -ms-content-zoom-snap-type: @arguments
  content-zoom-snap-type: @arguments


content-zooming()
  -ms-content-zooming: @arguments
  content-zooming: @arguments


flex-align()
  -ms-flex-align: @arguments
  flex-align: @arguments


flex-order()
  -ms-flex-order: @arguments
  flex-order: @arguments


flex-pack()
  -ms-flex-pack: @arguments
  flex-pack: @arguments


grid-column-align()
  -ms-grid-column-align: @arguments
  grid-column-align: @arguments


grid-column-span()
  -ms-grid-column-span: @arguments
  grid-column-span: @arguments


grid-columns()
  -ms-grid-columns: @arguments
  grid-columns: @arguments


grid-row-align()
  -ms-grid-row-align: @arguments
  grid-row-align: @arguments


grid-row-span()
  -ms-grid-row-span: @arguments
  grid-row-span: @arguments


grid-rows()
  -ms-grid-rows: @arguments
  grid-rows: @arguments


high-contrast-adjust()
  -ms-high-contrast-adjust: @arguments
  high-contrast-adjust: @arguments


hyphenate-limit-chars()
  -ms-hyphenate-limit-chars: @arguments
  hyphenate-limit-chars: @arguments


hyphenate-limit-zone()
  -ms-hyphenate-limit-zone: @arguments
  hyphenate-limit-zone: @arguments


ime-mode()
  -ms-ime-mode: @arguments
  ime-mode: @arguments


interpolation-mode()
  -ms-interpolation-mode: @arguments
  interpolation-mode: @arguments


layout-flow()
  -ms-layout-flow: @arguments
  layout-flow: @arguments


layout-grid()
  -ms-layout-grid: @arguments
  layout-grid: @arguments


layout-grid-char()
  -ms-layout-grid-char: @arguments
  layout-grid-char: @arguments


layout-grid-line()
  -ms-layout-grid-line: @arguments
  layout-grid-line: @arguments


layout-grid-mode()
  -ms-layout-grid-mode: @arguments
  layout-grid-mode: @arguments


layout-grid-type()
  -ms-layout-grid-type: @arguments
  layout-grid-type: @arguments


overflow-style()
  -ms-overflow-style: @arguments
  overflow-style: @arguments


overflow-x()
  -ms-overflow-x: @arguments
  overflow-x: @arguments


overflow-y()
  -ms-overflow-y: @arguments
  overflow-y: @arguments


progress-appearance()
  -ms-progress-appearance: @arguments
  progress-appearance: @arguments


scroll-chaining()
  -ms-scroll-chaining: @arguments
  scroll-chaining: @arguments


scroll-limit()
  -ms-scroll-limit: @arguments
  scroll-limit: @arguments


scroll-limit-x-max()
  -ms-scroll-limit-x-max: @arguments
  scroll-limit-x-max: @arguments


scroll-limit-x-min()
  -ms-scroll-limit-x-min: @arguments
  scroll-limit-x-min: @arguments


scroll-limit-y-max()
  -ms-scroll-limit-y-max: @arguments
  scroll-limit-y-max: @arguments


scroll-limit-y-min()
  -ms-scroll-limit-y-min: @arguments
  scroll-limit-y-min: @arguments


scroll-rails()
  -ms-scroll-rails: @arguments
  scroll-rails: @arguments


scroll-snap-points-x()
  -ms-scroll-snap-points-x: @arguments
  scroll-snap-points-x: @arguments


scroll-snap-points-y()
  -ms-scroll-snap-points-y: @arguments
  scroll-snap-points-y: @arguments


scroll-snap-type()
  -ms-scroll-snap-type: @arguments
  scroll-snap-type: @arguments


scroll-snap-x()
  -ms-scroll-snap-x: @arguments
  scroll-snap-x: @arguments


scroll-snap-y()
  -ms-scroll-snap-y: @arguments
  scroll-snap-y: @arguments


scroll-translation()
  -ms-scroll-translation: @arguments
  scroll-translation: @arguments


scrollbar-arrow-color()
  -ms-scrollbar-arrow-color: @arguments
  scrollbar-arrow-color: @arguments


scrollbar-base-color()
  -ms-scrollbar-base-color: @arguments
  scrollbar-base-color: @arguments


scrollbar-darkshadow-color()
  -ms-scrollbar-darkshadow-color: @arguments
  scrollbar-darkshadow-color: @arguments


scrollbar-face-color()
  -ms-scrollbar-face-color: @arguments
  scrollbar-face-color: @arguments


scrollbar-highlight-color()
  -ms-scrollbar-highlight-color: @arguments
  scrollbar-highlight-color: @arguments


scrollbar-shadow-color()
  -ms-scrollbar-shadow-color: @arguments
  scrollbar-shadow-color: @arguments


scrollbar-track-color()
  -ms-scrollbar-track-color: @arguments
  scrollbar-track-color: @arguments


text-autospace()
  -ms-text-autospace: @arguments
  text-autospace: @arguments


text-kashida-space()
  -ms-text-kashida-space: @arguments
  text-kashida-space: @arguments


text-overflow()
  -ms-text-overflow: @arguments
  text-overflow: @arguments


touch-action()
  -ms-touch-action: @arguments
  touch-action: @arguments


word-break()
  -ms-word-break: @arguments
  word-break: @arguments


word-wrap()
  -ms-word-wrap: @arguments
  word-wrap: @arguments


wrap-margin()
  -ms-wrap-margin: @arguments
  wrap-margin: @arguments


writing-mode()
  -ms-writing-mode: @arguments
  writing-mode: @arguments


zoom()
  -ms-zoom: @arguments
  zoom: @arguments


